<div data-controller="menu">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">

      <%# Branding / Home %>
      <%= link_to root_path, class: "navbar-brand", style: "color: #EB5729;" do %>
        <%= inline_svg 'flower_icon.svg' %>
        <br>
        <h1 class="navbar-font">memory<br>lab</h1>
      <% end %>

      <div>
        <%# Icon / Menu %>
        <i data-action="click->menu#show" data-menu-target="icon" class="fa-solid fa-info nav-item info-icon"></i>
      </div>
    </div>
  </div>

  <%# Menu content %>
  <div id="menu" data-menu-target="menu" class="d-none">
    <div class="">
      <i data-action="click->menu#close" class="fa-solid fa-xmark"></i>

      <%# unless current_page?(new_user_session_path) %>
        <%# if user_signed_in? %>
          <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <%# else %>
          <%# <%= link_to "Login", new_user_session_path %>
        <%# <% end %>
      <%# <% end %>
    </div>

  </div>

  <div data-menu-target="blur" class="d-none">
    <div class="blur-effect">
      <section data-menu-target="shapes" class="shapes" data-user-signed-in="<%= user_signed_in? %>"></section>
    </div>
  </div>
</div>
