<h1>Edit</h1>

<%= form_with(model: @photo, local: true) do |form| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %> <%# temp note: that deanin does it a little differently here%>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> <%# temp note: undefined class tbc%>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%# might need to be changed %>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :date_taken %>
    <%= form.date_select :date_taken %>
  </div>

  <div class="field">
    <%= form.label :journal_entry %>
    <%= form.text_area :journal_entry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', photos_path %>
