<%# View for all instances of Photo. Photos#index%>

<main>
  <div>
    <% @photos.each do |photo| %>
      <p><%= photo.title %></p>
      <p><%= photo.journal_entry %></p>
      <p><%= image_tag(photo.image, style: "width:150px") %></p> <%# temp note: with extra steps + defining a thumbnail method, these can resize properly according to aspect ratio%>
      <%# <% image_url = url_for(photo.image) if photo.image.attached? %>
      <%= cl_image_tag photo.image.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</main>

<%# TO BE DELETED: %>
<%# <%= content_tag(:canvas, "", data: {
  controller: "threejs",
  threejs_url: image_url, # "threejs" because it needs to match the name of the Stimulus controller. image_url has been defined above.
  images_id: photo.id
  #loading image onto the scene (did deanin also added through form!? YES - 8:24 video)
  # image: photo.image
  # image: image
  # images: @photos.map { |photo| rails_blob_url(photo.image) } # ðŸ“ this works! WHY? because we're using ActiveStorage, which is a Rails library that allows us to attach files to Active Record objects. It also provides a helper method called rails_blob_url that returns a URL for a given blob. We can use this method to get the URL for each photo's image.
}) do %>
<%# <% end %>

<%# working: %>
<%= content_tag(:canvas, "", data: {controller: "threejs"}) %>






<%# trial Nov27 - She Codes - FAIL - needs host to work: %>
<%# <%= content_tag :canvas, data: { controller: "threejs", image_url: photo.image.url } %>

<%# <% @photos.each do |photo| %>
  <%# <%= link_to photo.image, class: "photo-link" do %>
    <%# <%= content_tag :canvas, "", data: { controller: "threejs", image_url: photo.image.url } %>
  <%# <% end %>
<%# <% end %>
