<%# View for all instances of Photo.%>

<div data-controller="threejs" >
  <main style="padding-left: 27px; padding-right: 27px;">
    <div>
      <% last_updated_photo = @photos.order(updated_at: :desc).last %>
      <div data-threejs-target="photoInfo" style="position: fixed; bottom: 20px; left: 27px; width: 90%; display: flex; flex-direction: column-reverse; height: 100vh; overflow: auto; pointer-events: none;"> <%# All HTML in this div will be replaced %>
        <span style="pointer-events: auto;"><%= last_updated_photo.journal_entry %></span>
        <span style="pointer-events: auto;"><b><%= last_updated_photo.title %></b></span>
        <%# <%= cl_image_tag last_updated_photo.image.key, width: 300, crop: :fill %>
      </div>
    </div>


    <%# The hidden field contains the serialized JSON object/representation of the @photos array with the image URLs generated using cl_image_path. %>
    <%# Important: I can never specify a width here, or otherwise quality will suffer when viewing. %>
    <%= hidden_field_tag :photo_data, @photos.map { |photo|
        {
          title: photo.title,
          journal_entry: photo.journal_entry,
          date_taken: photo.date_taken,
          image_url: cl_image_path(photo.image.key, crop: :pad)
        }
      }.to_json
    %>
  </main>
  <%= content_tag(:canvas, "", data: { threejs_target: "canvas" }) %>
</div>
