<%# View for all instances of Photo.%>

<div data-controller="threejs" style="padding-left: 27px; padding-right: 27px;">
  <main>
    <% last_updated_photo = @photos.order(updated_at: :desc).last %>
    <div data-threejs-target="photoInfo"> <%# All HTML in this div will be replaced %>
      <b><%= last_updated_photo.title %></b>
      <br>
      <%= last_updated_photo.journal_entry %>
      <br>
      <%# <%= cl_image_tag last_updated_photo.image.key, width: 300, crop: :fill %>
    </div>

    <%# The hidden field contains the serialized JSON object/representation of the @photos array with the image URLs generated using cl_image_path. %>
    <%# Important: I can never specify a width here, or otherwise quality will suffer when viewing. %>
    <%= hidden_field_tag :photo_data, @photos.map { |photo|
        {
          title: photo.title,
          journal_entry: photo.journal_entry,
          date_taken: photo.date_taken,
          image_url: cl_image_path(photo.image.key, crop: :pad)
        }
      }.to_json
    %>
  </main>
  <%= content_tag(:canvas, "", data: { threejs_target: "canvas" }) %>
</div>
