<% if current_user.photos.empty? %>
  <div class="full-form-photos-container">
    <p id="welcome-message">Welcome. Please add 8 photos to get started.</p>

    <%= form_with url: photos_path, local: true, data: { turbo: false } do |form| %>
      <% if @photos.any? && @photos.all? { |photo| photo.errors.any? } %>
        <div id="error_explanation">
          <h2><%= pluralize(@photos.flat_map(&:errors).count, "error") %> prohibited these photos from being saved:</h2>

          <ul>
            <% @photos.each do |photo| %>
              <% photo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="grid-container">
        <% @photos.each_with_index do |photo, index| %>
          <div class="grid-item">
            <%= form.fields_for "photos[]", photo, index: index do |photo_form| %>
              <div class="photo-form-container">
                <div class="field">
                  <div class="photo-number"><%= index + 1 %></div>
                  <%= photo_form.text_field :title, placeholder: "Title your photo here", required: true %>
                  <div class="title-border"></div>
                </div>

                <div class="field">
                  <%= photo_form.file_field :image, required: true %>
                </div>

                <div class="field">
                  <%= photo_form.date_select :date_taken, required: true %>
                </div>

                <div class="field">
                  <%= photo_form.text_area :journal_entry, placeholder: "Optional journal entry", required: true %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "save-eight-photos-btn" %>
      </div>
    <% end %>
  </div>

<% else %>
  <%# FORM TO ADD 1 PHOTO AT A TIME %>
  <div class="full-form-photos-container">

    <div class="container-new">
      <%# LEFT EMPTY CONTAINER %>
      <div class="child-container"></div>
      <%# RIGHT CONTAINER %>
      <div class="child-container right-one-form-container">
        <%= form_with(model: @photo, local: true, data: { turbo: false }) do |form| %>

          <% if @photo && @photo.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

              <ul>
              <% @photo.errors.full_messages.each do |message| %> <%# temp note: that deanin does it a little differently here%>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.text_field :title, placeholder: "Title your photo here", required: true, class: "single-photo-title" %>
          </div>

          <div class="field">
            <%= form.file_field :image, required: true %>
          </div>

          <div class="field">
            <%= form.date_select :date_taken, required: true %>
          </div>

          <div class="field">
            <%= form.text_area :journal_entry, placeholder: "Optional journal entry", required: true %>
          </div>

          <div class="actions">
            <%= form.submit "Save new photo", class: "save-one-photo-btn", style: "margin-bottom: 20px; margin-top: 20px;" %>
            <%= link_to 'Back', photos_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
